<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net" version="3.0.1725521661" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.CoreExtensions" version="3.0.1725521661" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.Logging" version="3.0.1725521661" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.OperatingSystem.Windows" version="3.0.1725521661" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.TiaPortal.Openness.Resolver" version="2.0.1765367256" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.Windows.Authentication" version="3.0.1725521661" targetFramework="net48" />
  <package id="System.CodeDom" version="10.0.0" targetFramework="net48" />
  <package id="System.DirectoryServices" version="10.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Management" version="10.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
</packages>